#searching {
    width: 100%;
}

#search-box {
    width:500px;
}

#search-result {
    float: right;
    width: 80%;
    margin-top: 10px;
}

#favourite-lists {
    float: left;
    width: 20%;
    margin-top: 10px;
}

#saving-error {
    color: red;
}