@(filmsData: List[String] , sharingLink: String)
@import play.api.libs.json.Json

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>My favourite films</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/angular/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery/jquery-2.1.4.js")" type="text/javascript"></script>
    </head>
    <body ng-app="FavFilmsApp" ng-controller="FilmsController">
        <a href='/shared/@sharingLink'>Share list</a>

        @for(filmJson <- filmsData) {
            <div class="film">
                <h3 class="title">@((Json.parse(filmJson) \ "title").as[String])</h3>
                <img class="thumbnail" ng-src="{{'http://image.tmdb.org/t/p/w150/@((Json.parse(filmJson) \ "poster_path").as[String])'}}"/>
            </div>
        }

    </body>
</html>