<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My favourite films</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <script src="@routes.Assets.versioned("javascripts/angular/angular.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/controllers.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/jquery/jquery-2.1.4.js")" type="text/javascript"></script>
</head>
<body ng-app="FavFilmsApp" ng-controller="FilmsController">
  <form>
    Create new favourite list
    List name:
    <input type="text" ng-model="list.name"/>
    <input id="save-list-button" type="submit" ng-click="saveList(list)" value="Save"/>
    <span id="saving-error"></span>
  </form>
</body>
</html>