@(favLists: java.util.List[models.entities.FavouriteList])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>My favourite films</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/angular/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery/jquery-2.1.4.js")" type="text/javascript"></script>
    </head>
    <body ng-app="FavFilmsApp" ng-controller="FilmsController">
        <div id="searching">
            <form>
                Search: <input id="search-box" type="text" ng-model="film.title"/>
                <input id="search-button" type="submit" ng-click="searchFilm(film)" value="Search"/>
            </form>
        </div>

        <div id="search-result">
            <div class="film" ng-repeat="film_data in films" ng-init="isFavourite(film_data.id)">

                <input type="hidden" name="film-id" value="{{film_data.id}}"/>

                Add to favourite:
                <form hidden="hidden" id="filmToFav_{{film_data.id}}">
                    <select>
                    @for(favList <- favLists) {
                        <option value="@favList.id">@favList.listName</option>
                    }
                    </select>
                    <input type="submit" ng-click="addFilmToFavourite(film_data.id)" value="Add"/>
                </form>
                <span hidden="hidden" id="alreadyFavFilm_{{film_data.id}}">Already favourite</span>

                <h3 class="title">{{film_data.title}}</h3>
                <img class="thumbnail" ng-src="{{'http://image.tmdb.org/t/p/w150/' + film_data.poster_path}}"/>
            </div>
        </div>

            <div id="favourite-lists">
            My favourite lists:
                <ul>
                @for(favList <- favLists) {
                    <li><a href="/showListFilms/@favList.id">@favList.listName </a></li>
                }
                </ul>
            <a href="/addList">Add list</a>
        </div>
    </body>
</html>
